/*---   Neutrals  ---*/
/*--- Colored Backgrounds ---*/
/*--- Colored Headers ---*/
/*--- Colored Text ---*/
/*-------------------
       Accents
--------------------*/
/* Differentiating Layers */
.page-header.ui.menu .logo img {
  margin-right: 0.6em;
}
.page-header.ui.menu .item.msg {
  padding-right: 0.52857143em;
  padding-left: 0.52857143em;
  position: relative;
}
.page-header.ui.menu .item.msg i {
  font-size: 1.25em;
}
.page-header.ui.menu .item.msg span.badge {
  border-radius: 3px;
  position: relative;
  top: -8px;
  left: 2px;
  font-size: 0.8em;
  background-color: #d93e50;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.2em 0.2em 0.1em 0.2em;
  min-width: 16px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}
.page-header.ui.menu .item.msg.mail span.badge {
  background-color: #2f886e;
}
.page-header.ui.menu .user.item i {
  margin: 0em 0em 0em 0.5em;
}
.page-header.ui.menu .user.item .avatar {
  margin: 0;
}
#userSidebar {
  width: 16em;
  left: auto;
  background-color: #394555;
}
#userSidebar .box {
  padding: 3em 1em;
}
#userSidebar .ui.segment.basic-info {
  background-color: transparent;
}
#userSidebar .ui.segment.basic-info > .avatar {
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 50%;
}
#userSidebar .ui.segment.basic-info .name {
  margin-top: 0.5em;
  line-height: 2em;
  color: rgba(255, 255, 255, 0.8);
}
#userSidebar .flex-box a.msg {
  cursor: pointer;
  font-size: 0.8em;
  padding: 0 0.5em;
  color: rgba(255, 255, 255, 0.8);
}
#userSidebar .flex-box a.msg i.icon.alarm {
  color: #A333C8;
}
#userSidebar .flex-box a.msg i.icon.mail {
  color: #00B5AD;
}
#userSidebar .sign-out-btn {
  box-shadow: 0px 0px 0px 1px #40bf97 inset !important;
  color: #40bf97 !important;
}
#viewTab > .tab-bar {
  height: 36px;
}
#viewTab > .tab-bar > .tabs > .tab-button {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  line-height: 36px;
  font-size: 0.92em;
}
#viewTab > .contents {
  padding: 0;
}
#viewTab > .contents .item {
  height: 100%;
}
#viewTab > .contents .item > * {
  height: inherit;
}
#loginDialog {
  border-radius: 0.7571429rem;
}
#loginDialog #containerSignIn {
  border-radius: 0.7571429rem;
  margin: 0;
  padding: 2em 2em 1em 2em;
}
#loginDialog #containerSignIn h2 {
  margin: 0 0 25px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #323a45;
}
#loginDialog #containerSignIn .ui.form > .field:not(:last-child) {
  margin-bottom: 1.6em;
}
#loginDialog #containerSignIn .ui.form a.float-right {
  float: right;
}
#loginDialog #containerSignIn .ui.form .submit-btn {
  margin-top: 1em;
}
.main-menu.ui.segment.inverted {
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
  padding: 0;
  background-color: #28303a;
  width: 14em;
  overflow: hidden;
}
.main-menu.ui.segment.inverted .bar {
  line-height: 2em;
  background-color: #394555;
  text-align: center;
  cursor: pointer;
}
.main-menu.ui.segment.inverted .bar i {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
}
.main-menu.ui.segment.inverted.collapsed {
  width: 3em;
}
.main-menu.ui.segment.inverted.collapsed .bar i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.main-menu.ui.segment.inverted.collapsed #frameworkSidebar > .item > .title .dropdown-icon {
  display: none;
}
.main-menu.ui.segment.inverted #frameworkSidebar {
  padding: 0;
  width: 14em;
}
.main-menu.ui.segment.inverted #frameworkSidebar > .item ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .title {
  background-color: #1b222a;
}
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .content {
  padding: 0;
}
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .content .content {
  padding: 0 0 0 1em;
}
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .title,
.main-menu.ui.segment.inverted #frameworkSidebar > .item .menu-item {
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  padding: 0;
  line-height: 2.5em;
}
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .title .dropdown-icon,
.main-menu.ui.segment.inverted #frameworkSidebar > .item .menu-item .dropdown-icon {
  position: absolute;
  right: 0.8em;
  top: 50%;
  width: 1rem;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  margin-top: -0.6rem;
  line-height: 1.2rem;
  display: inline-block;
}
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .title.active .dropdown-icon,
.main-menu.ui.segment.inverted #frameworkSidebar > .item .menu-item.active .dropdown-icon,
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .title.current-item .dropdown-icon,
.main-menu.ui.segment.inverted #frameworkSidebar > .item .menu-item.current-item .dropdown-icon {
  -webkit-transform: rotate(-90deg) scale(0.8, 0.8);
  -moz-transform: rotate(-90deg) scale(0.8, 0.8);
  -ms-transform: rotate(-90deg) scale(0.8, 0.8);
  -o-transform: rotate(-90deg) scale(0.8, 0.8);
  transform: rotate(-90deg) scale(0.8, 0.8);
}
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .title:hover,
.main-menu.ui.segment.inverted #frameworkSidebar > .item .menu-item:hover,
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .title.current-item,
.main-menu.ui.segment.inverted #frameworkSidebar > .item .menu-item.current-item {
  background-color: #394555;
}
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .title:hover:before,
.main-menu.ui.segment.inverted #frameworkSidebar > .item .menu-item:hover:before,
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .title.current-item:before,
.main-menu.ui.segment.inverted #frameworkSidebar > .item .menu-item.current-item:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 3px;
  background-color: #40bf97;
  bottom: 0;
}
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .title > i,
.main-menu.ui.segment.inverted #frameworkSidebar > .item .menu-item > i {
  position: absolute;
  color: #aeb9c2;
  width: 3em;
  text-align: center;
}
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .title > i:before,
.main-menu.ui.segment.inverted #frameworkSidebar > .item .menu-item > i:before {
  font-size: 20px;
}
.main-menu.ui.segment.inverted #frameworkSidebar > .item > .title > span,
.main-menu.ui.segment.inverted #frameworkSidebar > .item .menu-item > span {
  margin-left: 3.5em;
  font-size: 0.85em;
  color: rgba(255, 255, 255, 0.7);
}
#subMenuLayer {
  overflow: hidden;
  width: 16em;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
#subMenuLayer.collapsed {
  width: 1.2em;
}
#subMenuLayer.collapsed > .title > * {
  display: none;
}
#subMenuLayer.collapsed #subMenuTree {
  display: none;
}
#subMenuLayer #subMenuNavbar {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  top: 50%;
  right: 0;
  height: 48px;
  margin-top: -24px;
  background-color: transparent;
  width: 12px;
  padding: 12px 0;
}
#subMenuLayer #subMenuNavbar:hover {
  width: 14px;
}
#subMenuLayer #subMenuNavbar > div {
  display: inline-block;
  height: 24px;
  padding-top: 2px;
  padding-left: 2px;
  background-color: #ffffff;
  color: #394555;
}
#subMenuLayer #subMenuNavbar > div:before {
  position: absolute;
  right: 0;
  content: "";
  width: 0;
  top: 0px;
  left: 0px;
  height: 0;
  border-bottom: 12px solid #ffffff;
  border-left: 14px solid transparent;
}
#subMenuLayer #subMenuNavbar > div:after {
  position: absolute;
  content: "";
  left: 0px;
  width: 0;
  height: 0;
  bottom: 0px;
  border-top: 12px solid #ffffff;
  border-left: 14px solid transparent;
}
#subMenuLayer #subMenuNavbar > div i {
  line-height: 24px;
}
#subMenuLayer > .title {
  height: 65px;
  padding: 1em;
  background-color: #D9DEE4;
  line-height: 2.7em;
  color: #000000;
}
#subMenuLayer > .title i {
  font-size: 1.2em;
  margin-right: 0.6em;
  color: rgba(72, 179, 221, 0.81);
}
#subMenuLayer #subMenuTree {
  height: 100%;
  background-color: #f4f4f4;
}
#subMenuLayer #subMenuTree .child-nodes {
  overflow: visible;
  margin-left: 1.8em !important;
}
#subMenuLayer .tree.item {
  background-color: #fafafa;
}
#subMenuLayer .tree.node > .expand-button {
  width: 1.2em;
}
#subMenuLayer .tree.node > .node-content > i {
  position: absolute;
  color: #aeb9c2;
  width: 1.4em;
  text-align: center;
}
#subMenuLayer .tree.node > .node-content > span {
  margin-left: 1.8em;
  font-size: 0.95em;
}
#rightContainer {
  position: relative;
}
#rightContainer .layer-dimmer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  background-color: transparent;
  z-index: 60;
  display: none;
}
#rightContainer.lock .layer-dimmer {
  display: block;
}
