@import "../.global.less";
@import ".icon-animation.less";
@import ".iconfont.less";
@import ".app-common.less";

.fluid-layout {
  list-style: none;
  padding: 1em;
  margin: 0;
  display: inline-block;
  background-color: @contentBackgroundColor;
  width: 100%;
  > * {
    float: left;
    .display(box);

    padding: 0 0.6em;
    margin: 0.4em 0;
    .box-align(center);
    > * {
      vertical-align: middle !important;
    }
    .ui.checkbox {

    }
    align-items: center;
    > label {
      margin: 0 .85714286em 0 0;
      display: inline-block;
      width: 5em;
      vertical-align: baseline;
      font-size: .92857143em;

      text-align: right;
      color: rgba(0, 0, 0, .87);
      text-transform: none;
    }
  }
}

.ui.divider.dashed {
  border-top-style: dashed !important;
}

.condition {
  padding: 0px !important;
  .field > label {
    width: 7em;
    text-align: right;
  }
  .field .ui.input {
    width: 148px;
  }
}
@tabBoxShadowColor: @primaryColor;

.desktop .ui.c-tab {
  &.top-tab {
    > .tab-bar > .tabs > .tab-button {
      &.active, &:hover {
        box-shadow: inset 0 2px 0 @tabBoxShadowColor;
      }
    }
  }
  &.bottom-tab {
    > .tab-bar > .tabs > .tab-button {
      &.active, &:hover {
        box-shadow: inset 0 -2px 0 @tabBoxShadowColor;
      }
    }
  }

  &.left-tab {
    > .tab-bar > .tabs > .tab-button {
      &.active, &:hover {
        box-shadow: inset 2px 0 0 @tabBoxShadowColor;
      }
    }
  }
  &.right-tab {
    > .tab-bar > .tabs > .tab-button {
      &.active, &:hover {
        box-shadow: inset -2px 0 0 @tabBoxShadowColor;
      }
    }
  }
}

.corner-ribbon {
  width: 80px;
  background: @primaryColor;
  &.secondary {
    background: @secondaryColor;
  }
  position: absolute;
  top: 10px;
  left: -20px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
  color: #f0f0f0;
  .transform(rotate(-45deg));
  &.sticky {
    position: fixed;
  }

  &.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  }

  &.top-left {
    top: 10px;
    left: -20px;
    .transform(rotate(-45deg))
  }

  &.top-right {
    top: 10px;
    right: -20px;
    left: auto;
    .transform(rotate(45deg));
  }

  &.bottom-left {
    top: auto;
    bottom: 10px;
    left: -20px;
    .transform(rotate(45deg));

  }

  &.bottom-right {
    top: auto;
    right: -10px;
    bottom: 20px;
    left: auto;
    .transform(rotate(-45deg))
  }

}

.ui.checkbox.rotating {
  label {
    padding-left: 2.1em;

    &:before {
      backface-visibility: hidden;
      .transform(scale(1) rotate(0));
      .transition(all) !important;
      .transition-duration(250ms) !important;
      .border-radius(0);
    }
    &:after {
      content: "" !important;
      backface-visibility: hidden;
      opacity: 1;
      .transform(scale(0) rotate(80deg));
      .transition(all) !important;
      .transition-duration(250ms) !important;
      width: 22px;
      height: 9px;
      border-bottom: 2px solid @primaryColor;
      border-left: 2px solid @primaryColor;
      border-bottom-left-radius: 2px;
    }
  }

  input:checked ~ label {
    &:before {
      opacity: 0;
      .transform(scale(0) rotate(-130deg));
    }
    &:after {
      .transform(scale(1) rotate(-50deg));
    }
  }
}