extends ../.cola
append head
	link(rel="stylesheet", type="text/css", href="/frame/error.css")
block body
	.v-box.error-page
		.box.ui.menu.secondary.attached.page-header
			.item.logo.header
				img.ui.mini.image(src="/resources/images/logo.png")
				span Cola-UI Client Framework
		.flex-box
			div
				.error-info.ui.segment.basic
					strong.error-code 404
					p 抱歉！访问路径不存在。（File not found, sorry.）

					div.go-home
						a(c-href="home")
							span(c-bind="timer")
							span 跳转至首页
					.ui.bottom.attached.teal.progress#timeProgress
						.bar
append scripts
	script(src="/frame/error.js")
