extends ../.cola
append head
	link(rel="stylesheet", type="text/css", href="./frame/main-top.css")
block body
	.v-box.main-top
		.box.page-header

			.left-container
				.item.logo.header
					img.ui.mini.image(src="./resources/images/logo.png")
				span.title Cola-UI Client Framework
				.control.item.top-menu
					.ui.menu.secondary.labeled.icon.pointing
						a.item.icon(c-repeat="menu in menus")
							i(c-class="menu.icon")
							span(c-bind="menu.label")
			.right.menu
				.ui.menu.attached
					a.item.msg.icon.mail
						i.icon.mail
						span.badge 5
					a.item.msg.icon
						i.icon.alarm.icon-animated-bell
						span.badge 22
					a.item.icon.user(c-onclick="showUserSidebar()")
						img.ui.image.avatar(src="./resources/images/avatars/alex.png")
						i.icon.dropdown

		.flex-box
			.h-box


	#userSidebar(c-widget="Sidebar; modalOpacity:0; direction:right")
		.v-box
			.box
				.ui.segment.text-center.basic.inverted.basic-info
					div.avatar
						img.ui.image.tiny.avatar.centered(c-src="user.avatar")
					div.name(c-bind="user.name")
			.flex-box
				div
					.ui.segment.text-center.basic
						a.msg
							i.icon.mail
							span 消息
							span.detail(c-bind="messages.message+'条'")
						a.msg
							i.icon.alarm
							span 任务
							span.detail(c-bind="messages.task+'条'")
			.box.text-center
				.sign-out-btn.teal.basic(c-widget="Button; caption:安全退出; click:logout")
					i.icon.sign.out
	#loginDialog
		.ui.segment#containerSignIn(c-widget="segment;")
			.ui.form#formSignIn(c-widget="form")
				h2 用户登录
				.field
					div.large(c-widget="input; placeholder:用户名; postOnInput:true; bind:login.userName")
				.field
					div.large(c-widget="input; placeholder:密码;inputType:password; postOnInput:true; bind:login.password")
				.field(style="min-height: 1em;")
					a.float-right(href="./frame/account/forgot-password") 找回密码
				.field
					div.large.fluid.circular.submit-btn(c-widget="Button; caption:登录; click:signIn"
					tabindex="0")
				.field
					.ui.message.error
append scripts
	script(src="./frame/main-shop.js")