extends ../../.cola
append head
	link(rel="stylesheet", type="text/css", href="./frame/account/forgot-password.css")
block body
	.v-box.account-page
		.box.ui.menu.secondary.attached.page-header
			.item.logo.header
				img.ui.mini.image(src="./resources/images/logo.png")
				span Cola-UI Client Framework
		.flex-box
			div
				.ui.segment#containerFrogotPassword(c-widget="segment;")
					.ui.form#formFrogotPassword(c-widget="form")
						h2 找回密码
						.field
							div.large(c-widget="input; placeholder:邮箱/手机号; postOnInput:true; bind:userName")

						.field
							div.large.fluid.circular.login-btn(c-widget="Button; caption:下一步; click:next"
							tabindex="0")
						.field.text-center
							a.back-link(href="./account/login") 返回
						.field
							.ui.message.error
append scripts
	script(src="./frame/account/forgot-password.js")
