/* 主色调定义 */
/* 文字内容色调定义 */
/* 背景色调定义 */
/* 边框色调定义 */
/* 主题色定义 */
/* Input */
/* main page */
.account-page > .flex-box {
  background: url("../../resources/images/bg3.jpg") 50% 50% / cover no-repeat fixed;
}
.account-page > .flex-box > div > .ui.segment {
  border-radius: 0.7571429rem;
  padding: 2em 3em;
  position: absolute;
  top: 50%;
  margin-top: -12.5em;
  left: 50%;
  width: 34em;
  margin-left: -17em;
}
.account-page > .flex-box > div > .ui.segment h2 {
  margin: 0 0 25px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: #323a45;
}
.account-page > .flex-box > div > .ui.segment .ui.form > .field:not(:last-child) {
  margin-bottom: 1.6em;
}
.account-page > .flex-box > div > .ui.segment .ui.form a.float-right {
  float: right;
}
.account-page > .flex-box > div > .ui.segment .ui.form .submit-btn {
  margin-top: 1em;
}
.account-page .back-link {
  color: rgba(103, 106, 108, 0.7);
}
