@import "../.global.less";

.main-menu.ui.segment.inverted {
	&:hover {
		overflow: auto;
	}
	.transition(width 0.2s ease-out);
	padding: 0;
	background-color: @tertiaryColor;
	width: 14em;
	.bar {
		line-height: 2em;
		background-color: @lightTertiaryColor;
		text-align: center;
		cursor: pointer;
		i {
			display: inline-block;
			color: rgba(255, 255, 255, 0.7);
		}
	}
	overflow: hidden;
	&.collapsed {
		width: 3em;
		.bar {
			i {
				.transform(rotate(90deg));
			}
		}
		#frameworkSidebar {
			> .item {
				> .title {
					.dropdown-icon {
						display: none;
					}
				}
			}
		}
	}
	#frameworkSidebar {
		padding: 0;
		width: 14em;
		> .item {
			ul {
				padding: 0;
				margin: 0;
				list-style: none;
			}
			> .title {
				background-color: @darkTertiaryColor;

			}

			> .content {
				padding: 0;
				.content {
					padding: 0 0 0 1em;
				}
			}
			> .content .menu-item {
				&:hover, &.current-item {
					background-color: @lightTertiaryColor;
				}
			}
			> .title, .menu-item {
				position: relative;
				white-space: nowrap;
				.dropdown-icon {
					position: absolute;
					right: 0.8em;
					top: 50%;
					width: 1rem;
					.transform(scale(0.8, 0.8));
					.transition(transform 0.2s ease-out);
					margin-top: -0.6rem;
					line-height: 1.2rem;
					display: inline-block;
				}

				&:hover, &.current-item {
					&:before {
						position: absolute;
						left: 0;
						top: 0;
						content: "";
						width: 3px;
						background-color: @primaryColor;
						bottom: 0;
					}
				}
				cursor: pointer;
				padding: 0;
				line-height: 2.5em;
				> i {
					position: absolute;
					color: #aeb9c2;
					width: 3em;
					text-align: center;

					&.iconfont:before, &.dropdown-icon:before {
						font-size: 20px;
					}
				}
				> span {
					margin-left: 3.5em;
					font-size: 0.85em;
					color: rgba(255, 255, 255, 0.7);
				}

			}
			> .title {
				&.active {
					.dropdown-icon {
						.transform(rotate(-90deg), scale(0.8, 0.8));
					}
				}
			}
			> .content {
				.menu-item.current-item {
					.dropdown-icon {
						.transform(rotate(-90deg), scale(0.8, 0.8));
					}
				}
			}

		}
	}
}
