extends ../.cola
append head
	link(rel="stylesheet", type="text/css", href="./example/crud.css")
block body
	div#mainView.v-box
		.boxul.ui.blue.fragment.fluid-layout
			li
				label 产品编号
				div.mini(c-widget="input; bind:condition.code")
			li
				label 产品名称
				div.mini(c-widget="input; bind:condition.name")
			li
				label 经营商
				div.mini(c-widget="input;bind:condition.shop")
			li
				label 价格
				div.mini(c-widget="input;bind:condition.price")
			li
				label 鞋码
				div.mini(c-widget="input;bind:condition.size")
			li
				label 折扣
				div.mini(c-widget="input;bind:condition.sales")
			li
				button.blue(c-widget="Button; icon:search; caption:查询; click:search ")


		.flex-box
			.ui.fragment
				.secondary(c-widget="pager; bind:products;")
					.control.item
						div
							.mini.teal(c-widget="button; icon:plus; caption:添加; click:add;")
					.right.menu
						.item(page-code="pages")
				div#productTable
					template(name="operations")
						div
							.ui.buttons.icon.mini
								.ui.teal.basic.button
									i.icon.edit(c-onclick="edit(item)")
								.ui.orange.basic.button
									i.icon.trash.outline(c-onclick="del(item)")

	#editLayer.default-background
		.v-box
			.caption-bar.box

				i.edit.icon
				span.caption 产品信息维护
				.tools
					div.basic.circular(c-widget="button; icon:angle right; iconPosition:right; caption:返回; " +
					"click:cancel")

			.content.content-background.flex-box
				.ui.padded.segment.basic
					.ui.time-line.circular
						.items
							.item
								.icon
									i.icon.home
								.label 详细信息
								.content
									.ui.segment.basic
										.ui.form
											.fields
												.field.three.wide
													label 名称
													div(c-widget="input; bind:editItem.name ")
												.field.three.wide
													label 编号
													div(c-widget="input; bind:editItem.code")
											.fields
												.field.three.wide
													label 价格
													div(c-widget="input; bind:editItem.price")
							.item
								.icon
									i.icon.fax
								.label 生产信息
								.content
									.ui.segment.basic
										.ui.form
											.fields
												.field.three.wide
													label 生产日期
													div(c-widget="datePicker; bind:editItem.pd")
												.field.three.wide
													label 代理商
													#shopDropDown
											.fields
												.field.three.wide
													label 原材料
													div(c-widget="input;")
												.field.three.wide
													label 原材料厂商
													div(c-widget="input;")
							.item
								.icon
									i.icon.lab
								.label 产品包装
								.content
									.ui.segment.basic
										.ui.form
											.fields
												.field.two.wide
													label 长度
													div(c-widget="input;")
												.field.two.wide
													label 宽度
													div(c-widget="input; ")
												.field.two.wide
													label 高度
													div(c-widget="input; ")
							.item
								.icon
									i.icon.disk.outline
								.label 其他信息
								.content
									.ui.segment.basic
										.ui.form
											.fields
												.seven.wide.field
													label 备注
													textarea

			div.box
				.ui.segment.basic
					div.negative.large(c-widget="button;icon:remove; caption:取消; click:cancel")
					div.positive.large(c-widget="button;icon:checkmark; caption:提交; click:ok")






append scripts
	script(src="./example/crud.js")