extends ../.cola
append head
	style.
		.current > .tree.node .node-operation {
			display: inline-block;
		}
		.node-operation {
			display: none;
			float: right;
			padding-right: 0.5em;
		}
		.node-operation i{
			margin-right: 0.5em;
		}

block body
	#treeDropDown
append scripts
	script.
		cola(function (model) {
			model.set("node", {
				nodes: [
					{
						name: "中国",
						nodes: [
							{
								name: "上海",
								nodes: [
									{
										name: "浦东新区"
									},
									{
										name: "杨浦"
									},
									{
										name: "松江"
									}, {
										name: "徐汇区"
									}
								]
							}, {
								name: "内蒙古",
								nodes: [
									{
										name: "兴安盟"
									}, {
										name: "通辽"
									}, {
										name: "锡林郭勒"
									}, {
										name: "呼伦贝尔"
									}, {
										name: "赤峰"
									}
								]
							}
						]
					}
				]
			});


			model.widgetConfig({
				treeDropDown: {
					$type: "customDropdown",
					openMode: "drop",
					valueProperty: "name",
					dropDownHeight:400,
					content: {
						$type: "tree",
						tag:"dropdownTree",
						autoCollapse: false,
						autoExpand: true,

						highlightCurrentItem: true,
						bind: {
							recursive: true,
							expandedProperty: "expanded",
							textProperty: "name",
							expression: "node in node.nodes"
						},
						itemClick: function (self, arg) {
							var dropdown = cola.findDropDown(self);

							if (dropdown) dropdown.close(arg.item.get("data"));
						}
					},
					open:function(self,arg){
						var tree=cola.tag("dropdownTree")[0];
						var value=self.get("value");
						var node=model.get("node");
						console.log(node)
						debugger;
						tree.findNode()
					}

				}

			});
		});