extends ../.cola
append head
	link(rel="stylesheet", type="text/css", href="./example/product.css")
block body
	.ui.vertical.accordion.menu(style="width: 100%; margin-top: 0px;")
		.item
			.title.active
				.dropdown.icon
				i.icon.search
				span 过滤条件
			.content.active.condition-container
				.fluid-layout.condition
					.field
						label 公司
						div.mini(c-widget="input")
					.field
						label 部门
						div.mini(c-widget="input")
					.field
						label 催收组
						div.mini(c-widget="input")
					.field
						label 催收员
						div.mini(c-widget="input")
				.ui.divider.fitted.dashed
				.fluid-layout.condition
					.field
						label 委托方
						div.mini(c-widget="input")
					.field
						label 批次号
						div.mini(c-widget="input")
					.field
						label 委案日期
						div.mini(c-widget="datePicker")
					.field
						label 结案日期
						div.mini(c-widget="datePicker")
					.field
						label 地区
						div.mini(c-widget="input")
					.field
						label 案件状态
						div.mini(c-widget="input")


					.field
						label 末次跟进日期
						div.mini(c-widget="datePicker")
					.field
						label 待跟进日期
						div.mini(c-widget="datePicker")
					.field
						label 跟进次数
						div.mini(c-widget="input")
					.field
						label 催收状态
						div.mini(c-widget="input")
					.field
						label 案件金额
						div.mini(c-widget="input")
				.ui.divider.fitted.dashed
				.fluid-layout.condition
					.field
						label 证件号后四位
						div.mini(c-widget="input")
					.field
						label 姓名
						div.mini(c-widget="input")
					.field
						label 电话号码后四位
						div.mini(c-widget="input")
					.field
						label 卡号后四位
						div.mini(c-widget="input")
					.field
						label 案件编号
						div.mini(c-widget="input")
				.ui.divider.fitted.dashed
				div(style="padding:1em")
					.blue.mini(c-widget="Button; icon:search; caption:查询")

	.ui.segment
		.ui.top.attached.label 结果统计
		div
			.ui.label.basic.red
				span BP金额:
				a.detail 2789.00元
			.ui.label.basic.orange
				span 已还金额:
				a.detail 1821.00元
			.ui.label.basic.yellow
				span PTP金额:
				a.detail 82.00元
			.ui.label.basic.olive
				span CP金额:
				a.detail 169.00元
			.ui.label.basic.green
				span 案件数量:
				a.detail 67
			.ui.label.basic.teal
				span 有偿件:
				a.detail 32
			.ui.label.basic
				span 委案金额:
				a.detail 389.20元

	.ui.segment.result-list
		div(style="padding:4px").operation-buttons
			.ui.mini.basic.button 自动分案
			div.divider
			.ui.mini.basic.button 退案
			.ui.mini.basic.button 暂停
			.ui.mini.basic.button 恢复
			.ui.mini.basic.button 会战
			div.divider

			.ui.mini.basic.button 外访派案
			div.divider

			.ui.mini.basic.button 导出
			.ui.mini.basic.button 赔案
			.ui.mini.basic.button 备注
			div.divider
			.ui.mini.basic.button 拨号
			.ui.mini.basic.button 短信
			.ui.mini.basic.button 邮件
			div.divider
			.ui.mini.basic.button.right.labeled.icon
				span 表色
				i.icon.dropdown
		div#productTable

			template(name="csStatus")
				div.status(c-bind="item.csStatus" c-classname="getColor(item.csStatus)+' status'")





append scripts
	script(src="./example/product.js")