extends ../../.cola
append head
	link(rel="stylesheet", type="text/css", href="./frame/security/parser.css")
block body
	div.html-parser.v-box
		.box.secondary(c-widget="menu")

			div(c-widget="controlItem;")
				div(c-widget="buttonGroup;")
					div(c-widget="button; icon:sitemap; click:switchView; states:active; userData:0")
					div(c-widget="button; icon:sidebar; click:switchView; userData:1")
			.right.menu
				div(c-widget="controlItem;")
					div.primary(c-widget="button; caption:保存; click:save")
		.flex-box
			#cardBookDataView(c-widget="cardBook;")
				.item.active
					#domTree.dom-tree
						template(name="node-default")
							div
								span(c-bind="getNodeName(node)")
								div.operation(c-display="node.id")
									div(c-widget="checkbox; bind:node.visible; label:可读")
									div(c-widget="checkbox; bind:node.editable; label:可操作")
				.item
					#domList
						template
							div
								span(c-bind="getNodeName(node)")
								div.operation(c-display="node.id")
									div(c-widget="checkbox; bind:node.visible; label:可见")
									div(c-widget="checkbox; bind:node.editable; label:可操作")
append scripts
	script(src="./frame/security/parser.js")
