/* 主色调定义 */
/* 文字内容色调定义 */
/* 背景色调定义 */
/* 边框色调定义 */
/* 主题色定义 */
/* Input */
/* main page */
.icon-animated-bell {
  display: inline-block;
  -webkit-animation: ringing 2s 5 ease 1s;
  -moz-animation: ringing 2s 5 ease 1s;
  -o-animation: ringing 2s 5 ease 1s;
  animation: ringing 2s 5 ease 1s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
@-moz-keyframes ringing {
  0% {
    -moz-transform: rotate(-15deg);
  }
  2% {
    -moz-transform: rotate(15deg);
  }
  12%,
  4% {
    -moz-transform: rotate(-18deg);
  }
  14%,
  6% {
    -moz-transform: rotate(18deg);
  }
  8% {
    -moz-transform: rotate(-22deg);
  }
  10% {
    -moz-transform: rotate(22deg);
  }
  16% {
    -moz-transform: rotate(-12deg);
  }
  18% {
    -moz-transform: rotate(12deg);
  }
  20% {
    -moz-transform: rotate(0);
  }
}
@-webkit-keyframes ringing {
  0% {
    -webkit-transform: rotate(-15deg);
  }
  2% {
    -webkit-transform: rotate(15deg);
  }
  12%,
  4% {
    -webkit-transform: rotate(-18deg);
  }
  14%,
  6% {
    -webkit-transform: rotate(18deg);
  }
  8% {
    -webkit-transform: rotate(-22deg);
  }
  10% {
    -webkit-transform: rotate(22deg);
  }
  16% {
    -webkit-transform: rotate(-12deg);
  }
  18% {
    -webkit-transform: rotate(12deg);
  }
  20% {
    -webkit-transform: rotate(0);
  }
}
@-ms-keyframes ringing {
  0% {
    -ms-transform: rotate(-15deg);
  }
  2% {
    -ms-transform: rotate(15deg);
  }
  12%,
  4% {
    -ms-transform: rotate(-18deg);
  }
  14%,
  6% {
    -ms-transform: rotate(18deg);
  }
  8% {
    -ms-transform: rotate(-22deg);
  }
  10% {
    -ms-transform: rotate(22deg);
  }
  16% {
    -ms-transform: rotate(-12deg);
  }
  18% {
    -ms-transform: rotate(12deg);
  }
  20% {
    -ms-transform: rotate(0);
  }
}
@keyframes ringing {
  0% {
    transform: rotate(-15deg);
  }
  2% {
    transform: rotate(15deg);
  }
  12%,
  4% {
    transform: rotate(-18deg);
  }
  14%,
  6% {
    transform: rotate(18deg);
  }
  8% {
    transform: rotate(-22deg);
  }
  10% {
    transform: rotate(22deg);
  }
  16% {
    transform: rotate(-12deg);
  }
  18% {
    transform: rotate(12deg);
  }
  20% {
    transform: rotate(0);
  }
}
.icon-animated-vertical {
  display: inline-block;
  -webkit-animation: vertical 2s 5 ease 2s;
  -moz-animation: vertical 2s 5 ease 2s;
  -o-animation: vertical 2s 5 ease 2s;
  animation: vertical 2s 5 ease 2s;
}
@-moz-keyframes vertical {
  0%,
  16%,
  8% {
    -moz-transform: translate(0, -3px);
  }
  12%,
  20%,
  4% {
    -moz-transform: translate(0, 3px);
  }
  22% {
    -moz-transform: translate(0, 0);
  }
}
@-webkit-keyframes vertical {
  0%,
  16%,
  8% {
    -webkit-transform: translate(0, -3px);
  }
  12%,
  20%,
  4% {
    -webkit-transform: translate(0, 3px);
  }
  22% {
    -webkit-transform: translate(0, 0);
  }
}
@-ms-keyframes vertical {
  0%,
  16%,
  8% {
    -ms-transform: translate(0, -3px);
  }
  12%,
  20%,
  4% {
    -ms-transform: translate(0, 3px);
  }
  22% {
    -ms-transform: translate(0, 0);
  }
}
@keyframes vertical {
  0%,
  16%,
  8% {
    transform: translate(0, -3px);
  }
  12%,
  20%,
  4% {
    transform: translate(0, 3px);
  }
  22% {
    transform: translate(0, 0);
  }
}
.icon-animated-hand-pointer {
  display: inline-block;
  -webkit-animation: hand-pointer 2s 4 ease 2s;
  -moz-animation: hand-pointer 2s 4 ease 2s;
  -o-animation: hand-pointer 2s 4 ease 2s;
  animation: hand-pointer 2s 4 ease 2s;
}
@-moz-keyframes hand-pointer {
  0%,
  12%,
  24%,
  36% {
    -moz-transform: translate(0, 0);
  }
  18%,
  30%,
  6% {
    -moz-transform: translate(5px, 0);
  }
}
.icon-animated-wrench {
  display: inline-block;
  -webkit-animation: wrenching 2.5s 4 ease;
  -moz-animation: wrenching 2.5s 4 ease;
  -o-animation: wrenching 2.5s 4 ease;
  animation: wrenching 2.5s 4 ease;
  -webkit-transform-origin: 90% 35%;
  -moz-transform-origin: 90% 35%;
  -ms-transform-origin: 90% 35%;
  -o-transform-origin: 90% 35%;
  transform-origin: 90% 35%;
}
@-moz-keyframes wrenching {
  0% {
    -moz-transform: rotate(-12deg);
  }
  8% {
    -moz-transform: rotate(12deg);
  }
  10%,
  28%,
  30%,
  48%,
  50%,
  68% {
    -moz-transform: rotate(24deg);
  }
  18%,
  20%,
  38%,
  40%,
  58%,
  60% {
    -moz-transform: rotate(-24deg);
  }
  75% {
    -moz-transform: rotate(0);
  }
}
@-webkit-keyframes wrenching {
  0% {
    -webkit-transform: rotate(-12deg);
  }
  8% {
    -webkit-transform: rotate(12deg);
  }
  10%,
  28%,
  30%,
  48%,
  50%,
  68% {
    -webkit-transform: rotate(24deg);
  }
  18%,
  20%,
  38%,
  40%,
  58%,
  60% {
    -webkit-transform: rotate(-24deg);
  }
  75% {
    -webkit-transform: rotate(0);
  }
}
@-o-keyframes wrenching {
  0% {
    -o-transform: rotate(-12deg);
  }
  8% {
    -o-transform: rotate(12deg);
  }
  10%,
  28%,
  30%,
  48%,
  50%,
  68% {
    -o-transform: rotate(24deg);
  }
  18%,
  20%,
  38%,
  40%,
  58%,
  60% {
    -o-transform: rotate(-24deg);
  }
  75% {
    -o-transform: rotate(0);
  }
}
@-ms-keyframes wrenching {
  0% {
    -ms-transform: rotate(-12deg);
  }
  8% {
    -ms-transform: rotate(12deg);
  }
  10%,
  28%,
  30%,
  48%,
  50%,
  68% {
    -ms-transform: rotate(24deg);
  }
  18%,
  20%,
  38%,
  40%,
  58%,
  60% {
    -ms-transform: rotate(-24deg);
  }
  75% {
    -ms-transform: rotate(0);
  }
}
@keyframes wrenching {
  0% {
    transform: rotate(-12deg);
  }
  8% {
    transform: rotate(12deg);
  }
  10%,
  28%,
  30%,
  48%,
  50%,
  68% {
    transform: rotate(24deg);
  }
  18%,
  20%,
  38%,
  40%,
  58%,
  60% {
    transform: rotate(-24deg);
  }
  75% {
    transform: rotate(0);
  }
}
@-moz-keyframes blinking {
  0%,
  80% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@-webkit-keyframes blinking {
  0%,
  80% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@-ms-keyframes blinking {
  0%,
  80% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@keyframes blinking {
  0%,
  80% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@-moz-keyframes pulsating {
  0%,
  10%,
  20%,
  30%,
  40% {
    -moz-transform: scale(1);
  }
  25%,
  5% {
    -moz-transform: scale(0.75);
  }
  15%,
  35% {
    -moz-transform: scale(1.25);
  }
}
@-webkit-keyframes pulsating {
  0%,
  10%,
  20%,
  30%,
  40% {
    -webkit-transform: scale(1);
  }
  25%,
  5% {
    -webkit-transform: scale(0.75);
  }
  15%,
  35% {
    -webkit-transform: scale(1.25);
  }
}
@-ms-keyframes pulsating {
  0%,
  10%,
  20%,
  30%,
  40% {
    -ms-transform: scale(1);
  }
  25%,
  5% {
    -ms-transform: scale(0.75);
  }
  15%,
  35% {
    -ms-transform: scale(1.25);
  }
}
@keyframes pulsating {
  0%,
  10%,
  20%,
  30%,
  40% {
    transform: scale(1);
  }
  25%,
  5% {
    transform: scale(0.75);
  }
  15%,
  35% {
    transform: scale(1.25);
  }
}
@font-face {
  font-family: "iconfont";
  src: url(../resources/font/iconfont.ttf);
}
.iconfont {
  font-family: iconfont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.icon-neirongshezhi:before {
  content: "\e600";
}
.icon-mail-setting:before {
  content: "\e609";
}
.icon-zhandianshezhi:before {
  content: "\e601";
}
.icon-sidebar:before {
  content: "\e60a";
}
.icon-ic10:before {
  content: "\e602";
}
.icon-zhuye:before {
  content: "\e603";
}
.icon-zhucerenzheng:before {
  content: "\e604";
}
.icon-shoudan:before {
  content: "\e60f";
}
.icon-1305quanxianshezhi:before {
  content: "\e610";
}
.icon-zhandianguanli:before {
  content: "\e605";
}
.icon-03:before {
  content: "\e611";
}
.icon-cuishouguanli:before {
  content: "\e60e";
}
.icon-yonghuliebiao:before {
  content: "\e606";
}
.icon-yonghuguanli:before {
  content: "\e607";
}
.icon-yonghuquntiliebiao:before {
  content: "\e608";
}
.icon-weibiaoti26:before {
  content: "\e60b";
}
.positive-text {
  color: #21ba45;
}
.negative-text {
  color: #ed5565;
}
.error-page > h1 {
  color: rgba(103, 106, 108, 0.7);
}
html {
  font-size: 12px !important;
}
html body {
  color: #676a6c;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5 {
  font-weight: inherit;
}
html body h1 {
  font-size: 1.8rem;
}
html body h2 {
  font-size: 1.6rem;
}
html body h3 {
  font-size: 1.4rem;
}
html body h4 {
  font-size: 1.2rem;
}
html body a,
html body .link {
  color: #337ab7;
  cursor: pointer;
}
html body a.primary,
html body .link.primary {
  color: #337ab7;
}
html body a.primary:hover,
html body .link.primary:hover,
html body a.primary:active,
html body .link.primary:active,
html body a.primary:focus,
html body .link.primary:focus {
  color: #285f8f;
}
html body a.secondary,
html body .link.secondary {
  color: #23c6c8;
}
html body a.secondary:hover,
html body .link.secondary:hover,
html body a.secondary:active,
html body .link.secondary:active,
html body a.secondary:focus,
html body .link.secondary:focus {
  color: #1b9b9d;
}
html body a.tertiary,
html body .link.tertiary {
  color: #66ccac;
}
html body a.tertiary:hover,
html body .link.tertiary:hover,
html body a.tertiary:active,
html body .link.tertiary:active,
html body a.tertiary:focus,
html body .link.tertiary:focus {
  color: #1b9b9d;
}
html body small {
  font-size: 0.85rem;
}
.primary-background {
  background-color: #40bf97;
}
.light-primary-background {
  background-color: #66ccac;
}
.dark-primary-background {
  background-color: #36a07f;
}
.secondary-background {
  background-color: #d93e50;
}
.light-secondary-background {
  background-color: #e0606f;
}
.dark-secondary-background {
  background-color: #c7273a;
}
.tertiary-background {
  background-color: #293846;
}
.light-tertiary-background {
  background-color: #314253;
}
.dark-tertiary-background {
  background-color: #1a232c;
}
.fourthly-background {
  background-color: #23c6c8;
}
.light-fourthly-background {
  background-color: #26d7d9;
}
.dark-fourthly-background {
  background-color: #1da4a5;
}
.fifthly-background {
  background-color: #e59f52;
}
.light-fifthly-background {
  background-color: #ecb87e;
}
.dark-fifthly-background {
  background-color: #cc791f;
}
.floating {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.default-background {
  background-color: #f3f3f4;
}
.light-background {
  background-color: #fbfbfb;
}
.dark-background {
  background-color: #ebebed;
}
.content-background {
  background-color: #fff;
}
