@import "../.global.less";

body {
	background-color: @backgroundColor;
	padding: 0.8em;
}

.ui.menu {
	border-radius: 0px;
}



.ui.items-view.widget-table {
	font-size: @fontSize;
}

//.ui.layer.basic {
//	.v-box {
//		background-color: @contentBackgroundColor;
//		>.header {
//			background-color: @darkBackgroundColor;
//			padding: 0.8em;
//		}
//		>.flex-box{
//			>div{
//				padding: 1em;
//			}
//		}
//		>.box{
//			overflow: hidden;
//		}
//	}
//}

.h-box {
	.box {
		overflow: hidden;
	}
}