@import "../.global.less";

body {
	background-color: @backgroundColor;
	padding: 0.8em;
}

.ui.menu {
	border-radius: 0px;
}

.fluid-layout {
	list-style: none;
	padding: 1em;
	margin: 0;
	display: inline-block;
	background-color: @contentBackgroundColor;
	width: 100%;
	> * {
		float: left;
		.display(flex);
		padding: 0 0.6em;
		margin: 0.4em 0;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		label {
			margin: 0 .85714286em 0 0;
			display: inline-block;
			width: 5em;
			vertical-align: baseline;
			font-size: .92857143em;

			text-align: right;
			color: rgba(0, 0, 0, .87);
			text-transform: none;
		}
	}
}

.ui.items-view.widget-table {
	font-size: @fontSize;
}

//.ui.layer.basic {
//	.v-box {
//		background-color: @contentBackgroundColor;
//		>.header {
//			background-color: @darkBackgroundColor;
//			padding: 0.8em;
//		}
//		>.flex-box{
//			>div{
//				padding: 1em;
//			}
//		}
//		>.box{
//			overflow: hidden;
//		}
//	}
//}

.h-box {
	.box {
		overflow: hidden;
	}
}