@import "../.global.less";
@captionBarBGColor:#f8f8f8;
body {
	//background-color: @backgroundColor;
	padding: 0.3em;
	.ui.form .field > label {
		font-weight: inherit;
		font-size: 0.828571em;
	}
	.ui.segment, .ui.vertical.accordion.menu {
		border-radius: 0 !important;
	}
	.result-list.ui.segment {
		padding: 0px;
		#productTable {
			table {
				table-layout: auto;
				font-size: 12.8px;
				th {
					font-weight: inherit;
					color: rgba(0,0,0,0.6);
				}
				.status{
					min-width: 80px;
					text-align: center;
				}
				.num{
					text-align: right;
					min-width: 80px;
				}
				.amount{
					text-align: right;
					min-width: 80px;
				}
				.fang{
					text-align: center;
					min-width: 120px;
				}
				.date,.name,.region,.csz,.csy{
					text-align: center;
					min-width: 100px;
				}
				.card-no,.id{
					text-align: center;
					min-width: 120px;
				}

			}
		}
	}
.ui.segment{
	>.ui.top.attached.label{
		background-color: @captionBarBGColor;
		&:before{
			position: absolute;
			left: 0;
			width: 2px;
			top:0;
			content: "";
			bottom: 0;
			background-color: @primaryColor;
		}
	}
}
	.ui.vertical.accordion.menu {
		//border-color: rgba(205, 217, 229, 0.15);
		> .item {
			//border-color: transparent !important;
			padding: 0;
			.title {
				//padding-left: 1em;
				position: relative;
				&:before{
					position: absolute;
					left: 0;
					width: 2px;
					top:0;
					content: "";
					bottom: 0;
					background-color: @orange;
				}
				background-color: @captionBarBGColor;
				padding: 0.4em 0.4em 0.4em 0.8em;
				span, i:not(.dropdown) {
					font-size: 0.82em;
					font-weight: bold
				}
				color: rgba(0, 0, 0, 0.6);
				line-height: 1.4em;

			}

			> .content {
				padding: 1em;
				> :last-child {
					padding-bottom: 1em;
				}
			}
		}

	}
}