@import "../.global.less";

@captionBarBGColor: #f8f8f8;
body {
	.ui.divider.dashed {
		border-top-style: dashed !important;
	}
	background-color: @backgroundColor;
	padding: 0.8em;
	.ui.form .field > label {
		font-weight: inherit;
		font-size: 0.828571em;

	}
	.condition {
		padding: 0px !important;
		.field {
			> label {
				width: 7em;
				text-align: right;
			}
			.ui.input{
				input{
					//padding: 0.54em 1em;
				}
				width: 148px;
			}
		}
	}

	.operation-buttons {
		.ui.button {
			font-weight: bold;
		}
		div.divider {
			display: inline-block;
			height: 100%;
			padding: 0 0.4em;
			content: "";
			position: relative;
			&:before {
				position: absolute;
				left: 50%;
				right: 50%;
				height: 100%;
				width: 1px;
				background-color: @lightBackgroundColor;
				content: "";
			}
		}
	}
	.ui.segment, .ui.vertical.accordion.menu {
		border-radius: 0 !important;
	}
	.result-list.ui.segment {
		padding: 0px;
		#productTable {
			table {
				table-layout: auto;
				font-size: 12px;
				th {
					font-weight: inherit;
					color: rgba(0, 0, 0, 0.6);
				}
				.status {
					min-width: 20px;
					text-align: center;
				}

			}
		}
	}
	.ui.segment {
		> .ui.top.attached.label {
			background-color: @captionBarBGColor;
			&:before {
				position: absolute;
				left: 0;
				width: 2px;
				top: 0;
				content: "";
				bottom: 0;
				background-color: @primaryColor;
			}
		}
	}
	.ui.vertical.accordion.menu {
		//border-color: rgba(205, 217, 229, 0.15);
		> .item {
			//border-color: transparent !important;
			padding: 0;
			.title {
				//padding-left: 1em;
				position: relative;
				&:before {
					position: absolute;
					left: 0;
					width: 2px;
					top: 0;
					content: "";
					bottom: 0;
					background-color: @lightSecondaryColor;
				}
				background-color: @captionBarBGColor;
				padding: 0.4em 0.4em 0.4em 0.8em;
				span, i:not(.dropdown) {
					font-size: 0.82em;
					font-weight: bold
				}
				color: rgba(0, 0, 0, 0.6);
				line-height: 1.4em;

			}

			> .content {
				padding: 1em;
				> :last-child {
					padding-bottom: 1em;
				}
			}
		}

	}
}